* {
    margin: 0px;
    padding: 0px;
}

:root {
    --rojito: red;
}

body {
    background-color: lightblue;
}

h1,
h2,
h3 {
    color: var(--rojito);
    
}

header h1 {
    text-align: center;
}

main {
    width: 1200px;
    margin: 0px auto;
}

.img {
    width: 400px;
    height: 300px;
    text-align: center;
    display: block;
    margin: auto;
}
.container{
    display: flex;
    
}
.columnas{
   margin: 5px;
}
footer {
    width: 1200px;
    margin: 0px auto;
}
.inicio{
    padding: 10px;
    border-radius: 100%;
    border: none;
    position: sticky; 
   
    top: 800px;

}
svg{
    display: block;
    position: fixed; 
    width: 50px;
    height: 50px;
    bottom: 120px;
    right: 10%;
}

/*responsive*/
@media screen and (max-width: 1200px) {
    main,
    footer {
        width: 800px;
        margin: 0px auto;

    }

}

@media screen and (max-width: 1024px) {
    main,
    footer {
        width: 700px;
        margin: 0px auto;

    }

}

@media screen and (max-width: 768px) {
    main,
    footer {
        width: 500px;
        margin: 0px auto;
    }
    .img {
        width: 200px;
        height: 200px;
    }
    .container{
        display: block;
       width: 200px;
    }

}

@media screen and (max-width: 480px) {
    main,
    footer {
        width: 300px;
        margin: 0px auto;

    }
    .img {
        width: 200px;
        height: 200px;
    }
    .container{
        display: block;
        width: 200px;;
     }
}
